@using Funcionarios.Models;
@using System.Linq;

@model List<FuncionarioSimplificado>

@{
    ViewBag.Title = "Novo funcionário";
}

<div id="tituloPagina" class="row">
    <div id="title" class="col-md-12">
        <h4>@ViewBag.Header</h4>
    </div>
</div>

<div>
    
</div>